* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
background:#0f172a;
color:#fff;
font-family: 'Segoe UI';
}
header {
text-align:center;
padding:20px;
font-size:28px;
background:#020617;
}

/* Navbar */
.navbar {
  background: #222;
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main Nav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff9800;
}

/* Dropdown */
.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  min-width: 160px;
  display: none;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-menu li a {
  padding: 12px 15px;
  color: #fff;
}

.dropdown-menu li a:hover {
  background: #444;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.board {
display:flex;
flex-wrap:wrap;
gap:20px;
padding:20px;
}
.ticket {
/*width:260px;*/
border: 3px solid #facc15; /* yellow */
border-radius: 12px;
padding: 15px;
background: #020617;
}
.ticket.done {
border-color: #22c55e;
}
.status {
  font-weight: bold;
  margin-bottom: 8px;
}
.cooking-text {
  color: #facc15;
}
.done-text {
  color: #22c55e;
}
li.done {
color:#22c55e;
}
.station-card {
background:#020617;
padding:20px;
margin:10px;
border-left:6px solid #f97316;
border-radius:10px;
}
button {
margin-top:10px;
padding:6px 12px;
background:#22c55e;
border:none;
border-radius:6px;
cursor:pointer;
}
